body {
    background-size: cover;
    background-image: url(img/cool-background.png);
}
div {
    width:400px;
    height: 400px;
    display: inline-block;
    margin-right:20px;
}
.kotak {
    background-color:rgba(23,21,200,0.5);
    opacity: 0.5;
}
.dua {
    background-color:hsla(60, 100%, 30%, 0.4);
}