/*menggunakan google font
.font {
    font-size: 100px;
    margin:50px auto;
    font-family: 'Bangers', cursive;
    text-align: center;
}*/
@font-face {
    font-family: "brandon";
    src:url(font/brandon.ttf) format('truetype')
}
.font {
    font-size: 100px;
    margin:50px auto;
    font-family: 'brandon';
    text-align: center;
}